#root {
  margin: auto;
  text-align: center;
}

* {
  margin: 5px;
}


.container {
  border: 1px solid #eaeaea;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
  width: 400px;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
}